@import '../../../styles.scss';

.calculator__data {
    display: flex;
}

.data {
    &__container {
        max-width: 490px;
        width: 100%;
    }
    
    &__value {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-height: 45px;
    }

    &__name {
        font-size: 16px;
        line-height: 18px;
    }

    &__summ {
        font-size: 22px;
        line-height: 18px;
    }

    &__range {
        max-width: 490px;
        width: 100%;
        
        -webkit-appearance: none;
        height: 5px;
        outline: none;
        border-radius: 3px;
        background-color: $blue-color;

       
    } 

    &__tooltip {
        cursor: pointer;
        display: flex;
        margin: 0 auto;
    }
}

.tooltip {
    
    &__content {
        background-color: white;
        position: absolute;
        border: 1px solid #C4C4C4;
        box-shadow: 0 0 10px rgb(194, 194, 194);
        width: 226px;
        height: 102px;
        border-radius: 8px;
    }
    
    &__content:after {
        content: ' ';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom: 7px solid black;
    }
}
