.result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 556px;
    width: 100%;

    margin-top: 46px;

    &__name {
        font-size: 14px;
        line-height: 17px;
    }

    &__value {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
    }

}

.info {
    display: flex;
    flex-direction: column;
    &__logo {
        margin-left: -25px;
        margin-bottom: 20px;
    }
}